.welcome {
  text-align: center;
  margin-top: 2rem;
}

.welcome h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #3f51b5;
}

.welcome p {
  font-size: 1.2rem;
  color: #757575;
  margin-top: 1rem;
}

.active-link {
  font-weight: bold;
  color: #3f51b5;
}