<mat-toolbar
  style="
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background-color: #858fdbff;
  "
>
  <span>My App</span>
  <a mat-button routerLink="/home">Home</a>
  <a mat-button routerLink="/about">About</a>
  <span style="flex: 1"></span>
  <button mat-icon-button aria-label="User Login">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button aria-label="Settings">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<main>
  <div style="text-align: center; padding: 2rem">
    <h1>Random Dog Gallery</h1>
    <div *ngIf="isLoading()">Loading...</div>
    <img
      *ngIf="hasDogImage()"
      [src]="dogImage()"
      alt="Random Dog Image"
      style="max-width: 100%; height: auto; margin-top: 1rem"
    />
  </div>
  <button
    mat-raised-button
    (click)="fetchDogImage()"
    style="position: fixed; bottom: 2rem; right: 2rem; z-index: 1000"
  >
    Show me a dog!
  </button>
</main>
